body {
    font-family: Cinzel;
    background: #353739;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.navOp {
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
}

.megamenu {
    position: static;

  }
  
.dropdown-menu {
    min-width: max-content !important;
    border: none;
    width: 100%;
    font-weight: 200;
    font-size: 16px;
    background: rgba(256, 256, 256, 0.8);
    letter-spacing: normal;
    margin: -0.125rem 0 0;

  }
.carousel-item {
    height: 600px;
}
.carousel-caption{
    bottom: 100px;
}
.carousel-item img {
    position: absolute;
    object-fit: contain;
    min-height: 600px;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;   
}


.content {
    color: red;
    font-size: 30px;
    line-height: 2;
}

.row img {
    object-fit: fill;
    height: 500px;
    width: 700px;
    max-width: 100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
.centerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
}
.open {
    display: block;
}

.openNav {
    display: block;
    max-height: 400px;
    overflow-y: auto;
  }
  
.footer{
    background: black;
    color: #DDE1DB;
    height: 300px;
}
.footer ul li a{
    color: cyan;
}
.hpimg img{
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    position: relative;
}
@media (max-width: 1100px) { 
    .footer-section-quickContact {
        font-size: .8rem;
    }
    .footer-section-about{
        font-size: .8rem;
    }
 }
@media (max-width: 768.98px) { 
    #homeText{
        font-size: 1.5rem;
        padding-top: 60px;
    }
    .footer{
        height: 650px;

    }
    .footer-section-about{
        font-size: 1rem;
    }
    .footer-section-quickContact  {
        margin-top: 10px;
    }  
    .footer-section-quickContact input {
        margin-left: 10px;
    }    
    .footer-section-quickContact textarea {
        margin-left: 10px;
    }
    .footer-section-Links{
        margin-top: 50px;

    }
 
}
@media screen and (max-width:767px){
    .dropdown-menu{
    min-width: 10rem !important;
    }
    }